@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* Importing the Outfit font from Google Fonts with a range of weights */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  /* Setting global styles:
     - Resetting padding and margin to 0 for all elements
     - Using border-box box-sizing for consistent sizing
     - Setting the font family to Outfit for all elements */
}

#root {
  min-height: 100vh;
  display: flex;
  animation: fadeIn 1.5s;
  /* Styling the root element:
     - Setting minimum height to 100% of the viewport height
     - Using flex display to arrange its children in a row
     - Applying fadeIn animation with duration of 1.5 seconds */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Defining keyframes for fadeIn animation:
   - Starting from opacity 0% and ending at opacity 100% for a fade-in effect */
